.layout-content {
  height: 100%;
  margin: 25px;
}

.detail-content {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.img-detail {
  width: 40%;
}

.layout-img {
  display: flex;
  justify-content: center;
}

.img-top {
  width: auto;
  height: auto;
  max-width: 300px;
}

.img-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  gap: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.img-bottom-detail {
  width: auto;
  height: auto;
  max-width: 150px;
  cursor: pointer;
  outline: 1px solid transparent;
  transition: outline-color 0.2s ease;
}

.img-bottom-detail.active {
  outline-color: var(--v-theme-primary);
}

.product-detail {
  width: 60%;
}

.title-detail {
  font-size: 40px;
  font-weight: bold;
}

.price-detail {
  font-size: 30px;
}

@media (max-width: 900px) {
  .img-detail {
    width: 100%;
  }
  .product-detail {
    width: 100%;
  }
  .img-top {
    width: 100%;
    height: auto;
    max-width: 400px;
  }
}

@media (max-width: 400px) {
  .layout-content {
    margin: 5px;
  }
}